core
stabber
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
src/config.h
src/config.h.in
src/config.h.in~
src/server/.deps/
src/server/.dirstamp
*.o

src/stamp-h1

.codelite/
stabber.project
stabber.workspace
compile_commands.json
stabber.tags

.deps/
.libs/
libstabber.la
libtool
m4/
runstabber
src/.deps/
src/.dirstamp
src/server/parser.lo
src/server/server.lo
src/server/stanza.lo
src/server/xmppclient.lo
src/client/.dirstamp
src/client/stabber.lo

