core
stabber
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
src/config.h
src/config.h.in
src/config.h.in~
src/server/.deps/
src/server/.dirstamp
*.o

src/stamp-h1

.deps/
.libs/
libstabber.la
libtool
m4/
runstabber
src/.deps/
src/.dirstamp
src/server/server.lo
src/server/xmppclient.lo
src/client/.dirstamp
src/client/stabber.lo
src/server/log.lo
config.cache
configure.lineno
src/server/prime.lo
src/server/verify.lo
src/server/httpapi.lo
src/server/stream_parser.lo
src/server/stanzas.lo
src/server/stanza.lo

stabbertest

# IDE
.codelite/
.vscode/
stabber.project
stabber.workspace
compile_commands.json
stabber.tags
.tern-port
.tern-project
.cproject
.project
.settings/
