Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
src/config.h
src/config.h.in
src/config.h.in~
src/server/.deps/
src/server/.dirstamp
src/server/clients.o
src/server/server.o
src/stamp-h1

.codelite/
stabber.project
stabber.workspace

server

